<div class="box">
  <div class="panel panel-primary">
    <div class="panel-heading">News and Activity</div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="..." alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Middle aligned media</h4>
          ...
        </div>
      </div>


      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="..." alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Middle aligned media</h4>
          ...
        </div>
      </div>
    </div>
  </div>
</div>