<head>

</head>

<div class="box">
    <div class="panel panel-primary">
        <div class="panel-heading">Contact form</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Address</div>
        <div class="panel-body">
            <address>
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>

            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Map</div>
        <div class="panel-body">
            <div id="map-canvas"></div>
        </div>
    </div>
</div>